@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    
}
a{
    text-decoration: none;
    color: #868686;
    display: block;
}
.menu_header {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #55A79A;
    position: relative;
    z-index: 100;
    background: white;
}
.container-header {
    width: 100%;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
}
.container-logo-title {
    display: flex;
    margin-top: 14px;
    margin-left: 10px;
}
.container-logo-title img {
    width: 80px;
    height: 80px;
}
.container-logo-title h1 {
    font-weight: 300;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 40px;
}
.subtitulo {
    font-size: 15px;
    margin-bottom: 4px;
}
.menu {
    position: absolute;
    right: 15px;
    margin-top: 20px;
    z-index: 5;
}
.menu  ul li {
    list-style: none;
    font-size: 15px;
    color: #868686;
    padding: 20px 10px;
    border: 1px solid transparent;
    border-top: 4px solid transparent;
    transition: border 300ms;
    position: relative;
}
/*SLIDER*/

#slider{
    width: 700px;/*1000px*/
    margin: 30px auto;
    overflow: hidden;
}

#slider ul {
    list-style: none;
    width: 2800px; /*4000px*/
    display: flex;

    animation: cambio 20s infinite alternate linear;
}

#slider img {
    width:  700px; /*1000px*/
}

@keyframes cambio {
    0% {margin-left: 0px;}/**/
    20% {margin-left: 0px;}/**/

    25% {margin-left: -700px;}/*-1000px*/
    45% {margin-left: -700px;}/*-1000px*/

    50% {margin-left: -1400px;}/*-2000px*/
    70% {margin-left: -1400px;}/*-2000px*/

    75% {margin-left: -2100px;}/*-3000px*/
    100% {margin-left: -2100px;}/*-3000px*/
}




  #contenedor{
  width: 1200px;
  height:1000px;
  background: white;
  margin: 0.5em auto;
  }  

#contenido{

    height: 53%;
    background: white;
    margin: 1em;
}

#section{

    height: 95%;
    width: 75%;
    background: white;
   
    float: right;

}
#aside{
    height: 95%;
    width: 24.5%;
    background:white;
   
    float: left;
    
    }
    .articulo{
    
        width: 32%;
        height: 450px;;
        background-color: #E4E4E1;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        margin: 0.3em;
       border-color: #8a8888;
        border-style: double;

      
    float:left;
    }
    .titulo{
      
        width: 100%;
        
        background-image: linear-gradient(to top, #f3f572 0%, #f9d423 100%);
        height: 10%;
        text-align: center;
        font-style: normal; 
        font-size: 100%;
        font-size-adjust: initial; 
        font-weight: bold;
        border-left: black;
        border-left-style: solid;   
        padding: 0.5em;
    }
    .titulo-2{
      
        width: 99%;
        background: black;
        border-left: #F1C40F;     
        height: 10%;
        text-align: center;
        font-style: normal; 
        font-size: 100%;
        color: #F1C40F;
        font-size-adjust: initial; 
        font-weight: bold;
        padding: 0.5em; 
        
        border-left-style: solid;
        
    }
    .datos{
        width: 100%;
        background:white;

        height: auto;

    }
    .a{

     background: white;
     width: 100%;
     display: block;
     padding-left: 1em;
     font-weight: bold;

    }
    a:active {
        color: gray;
      }
      a:hover{

        color: black;
      }
    .img{

        width: 100%;
        height: 30%;
    }
    .left{
        
     width: 40%;
     text-align: left;  
     margin-left: 0.5em;
     float: left;
    }
    .right{
        
        width: 40%;
        float: right;
        text-align: right;  
       margin-right: 0.5em

       }
       #tipo{

        width: 100%;
        margin: 0.5em;   
       }
       #tipo2{

        width: 100%;
        margin: 0.2em;
       
       }
       .mini-contenedor{
       height: 11%;
       width: 100%;
       margin-top: 1.60em; 
       background-color: #E4E4E1;
 background: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
      
       

       }
       .left-formulario{
        width: 30%;
        text-align: left;  
        margin-left: 0.3em;
        float: left;
       font-size: 80%;
       padding: 0.3em;

       }
       .right-formulario{
        width: 18%;
        float: right;
        padding: 0.5em;
        
        margin-right: 0,4em;
        margin-top: 0.8;
       
       }
#contactos .art-contactos
{
        
		
		background: black ;
		padding:25px 25px 0px 25px;
		box-shadow: 0px 1px 4px rgba(0,0,0, 0.2);
       height: 640px;
        width: 690px;
        float: left;
		
}
#contactos
	{
		background: black ;
		padding: 10px 0 10px;
        	
	}
#contactos .art-contactos h3 
{
        
		color: white;
		
}
#contactos .art-contactos h4
{
        
		color: white;
		
}
#contactos .art-contactos h5
{
        
		color: white;
		
}
#contactos .aside
{
    background: black ;
    padding:25px 25px 0px 25px;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.2);
    height: 640px;
    width: 510px;
    float: right;
    
}
#contactos .aside h3
{
        
	color: white;
}
#contactos .aside h4
{
        
	color: white;
}

#contactos .aside h5
{
        
	color: white;
}
